body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

header {
  height: 964px;
  background-image: url(/img/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

header nav ul {
  list-style-type: none;
  padding-right: 50px;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 50px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #39b9ef;
  text-decoration: underline;
}

header div.coll-to h1 {
  margin-top: 250px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0px;
}

header div.coll-to h1 span {
  color: #39b9ef;
}

header div.coll-to p {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

header div.coll-to a {
  display: block;
  width: 215px;
  height: 50px;
  background: #39b9ef;
  border-radius: 25px;
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

/* ********************************** */
/* ***********OUR SERVICES*********** */
/* ********************************** */
div.back-services {
  background-image: url(/img/back-serv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 140px;
}

section.our-services h2 {
  color: #242424;
  height: 48px;
  text-align: center;
  margin-top: 72px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 80px;
}

section.our-services div.services div {
  padding-top: 80px;
}

div.services div img {
  display: block;
  margin-bottom: 50px;
}

div.services div h3 {
  color: #242424;
  font-size: 24px;
  margin-bottom: 34px;
}

div.services div p,
div.services-2 p,
div.services-3 p {
  font-size: 16px;
  color: #878787;
  line-height: 24px;
  max-width: 520px;
}

section.our-services div.buttom a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #39b9ef;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 24px;
  font-weight: bold;
  line-height: 44px;
  margin: 65px auto;
}

div.services-2 {
  margin-top: 180px;
}

div.services-2 h3 {
  color: #242424;
  font-size: 35px;
}

div.services-2 a,
div.services-3 a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #39b9ef;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 24px;
  font-weight: bold;
  line-height: 44px;
  font-size: 16px;
  line-height: 44px;
  margin-top: 50px;
}

div.services-3 {
  margin-top: 240px;
}

div.services-3 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #39b9ef;
  background: #fff;
  width: 150px;
  height: 45px;
  border-radius: 24px;
  font-weight: bold;
  line-height: 44px;
  font-size: 16px;
  line-height: 44px;
  margin-top: 50px;
}

div.services-3 h3 {
  color: #fff;
  font-size: 35px;
}

div.services-3 p {
  color: #fff;
}

/* ********************************** */
/* *********** section man ********** */
/* ********************************** */
.boy {
  height: 450px;
}

section.boy div img {
  max-width: 100%;
}

section.boy div h3 {
  font-size: 72px;
  color: black;
  max-width: 500px;
  margin-left: 75px;
  margin-top: 25px;
}

section.boy div p {
  font-size: 16px;
  color: #878787;
  max-width: 500px;
  margin-left: 75px;
}

section.boy div a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #39b9ef;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 24px;
  font-weight: bold;
  line-height: 44px;
  margin: 35px auto 0px 75px;
}

/* ********************************** */
/* ******** section after-man ******* */
/* ********************************** */
section.next-boy {
  min-height: 430px;
}

section.next-boy div.block-1 {
  background-image: url(/img/lorem1.jpg);
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
}

section.next-boy div.block-2 {
  background-image: url(/img/lorem2.jpg);
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
}

section.next-boy div.block-3 {
  background-image: url(/img/lorem1.jpg);
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
}

section.next-boy div.block-4 {
  background-image: url(/img/lorem2.jpg);
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: center center;
}

section.next-boy h4 {
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 120px 65px 0 65px;
}

section.next-boy h4:hover {
  background: rgba(57, 157, 195, 0.7);
}

/* ********************************** */
/* ******** check-out ******* */
/* ********************************** */
section.check-our {
  height: 850px;
}

section.check-our h2 {
  color: #2ebaee;
  font-size: 72px;
}

section.check-our h2 span {
  color: #000;
}

section.check-our img {
  display: block;
  /* block используем для дальнейших margin и выравниванивания */
  margin: 0 auto;
  width: 234px;
  height: 234px;
  margin-top: 32px;
}

section.check-our div.name {
  color: #242424;
  font-size: 34px;
  text-align: center;
  margin-top: 30px;
}

section.check-our div.team span {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #878787;
  margin-top: 16px;
}

section.check-our div a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #39b9ef;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 24px;
  font-weight: bold;
  line-height: 44px;
  margin: 30px auto;
}

/* ********************************** */
/* ******** footer ******* */
/* ********************************** */
section.footer {
  background-image: url(/img/footer-back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 724px;
}

section.footer div.contact {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  margin-top: 100px;
}

section.footer p.add {
  font-size: 18px;
  color: #878787;
  margin-top: 30px;
}

section.footer p {
  color: #878787;
  font-size: 32px;
  margin-top: 25px;
}

section.footer p span {
  color: #2ebaee;
}

section.footer ul {
  list-style-type: none;
  margin-top: 70px;
  padding: 0;
}

section.footer ul li {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-right: 35px;
}

section.footer input[type="text"],
section.footer input[type="email"] {
  width: 635px;
  height: 60px;
  background: none;
  border-radius: 6px;
  border: 1px solid #535353;
  font-size: 17px;
  display: block;
  padding-left: 30px;
  color: #fff;
  margin: 20px auto;
}

section.footer input[type="text"] {
  margin-top: 100px;
}

section.footer textarea {
  height: 200px;
  background: none;
  border-radius: 6px;
  border: 1px solid #535353;
  font-size: 17px;
  display: block;
  margin: 20px auto;
  width: 635px;
  height: 200px;
  resize: none;
  color: #fff;
  padding: 30px;
}

section.footer button {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #39b9ef;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 24px;
  font-weight: bold;
  line-height: 44px;
  margin: 30px auto;
  border: none;
}

footer {
  height: 135px;
  background: #000;
}

footer p,
footer ul {
  list-style-type: none;
  margin-top: 55px;
  padding: 0;
  color: #fff;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.img-adaptive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ********************************** */
/* ******** responsive ******* */
/* ********************************** */

@media (max-width: 575.98px) {
  header {
    height: 500px;
  }
  html body header div.coll-to h1 {
    margin-top: 120px;
    font-size: 36px;
  }
  html body header div.coll-to p {
    font-size: 16px;
    margin: 40px auto;
  }
  header div.coll-to a {
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-size: 14px;
  }
  section.our-services h2 {
    color: #242424;
    height: 36px;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 80px;
  }
  div.back-services {
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  section.our-services div.services div {
    padding-top: 30px;
  }
  div.services div img {
    margin: 20px auto;
  }
  div.services div h3 {
    text-align: center;
  }
  div.services div p {
    text-align: center;
    margin-bottom: 10px;
  }
  section.our-services div.buttom a {
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-size: 14px;
    margin: 20px auto;
  }
  div.services-2 {
    margin-top: 50px;
  }
  div.services-2 h3 {
    font-size: 28px;
    text-align: center;
  }
  div.services-2 p,
  div.services-3 p {
    text-align: justify;
    font-size: 14px;
  }
  div.services-2 a {
    margin: 10px auto;
    border: 1px solid #fff;
  }
  div.services-3 {
    margin-top: 50px;
    background-color: #2ebaee;
    margin-right: -15px;
    margin-left: -15px;
  }
  div.services-3 h3 {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
  }
  div.services-3 a {
    margin: 10px auto;
  }
  div.services-3 p {
    margin-bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
  }
  div.services-3 div img {
    max-width: 70%;
    margin: 0 auto;
  }
  section.boy {
    height: auto;
  }
  section.boy div h3 {
    font-size: 28px;
    text-align: center;
    margin: 10px auto;
  }
  section.boy div p {
    font-size: 14px;
    margin: 0 10px;
    text-align: justify;
  }
  section.boy div a {
    margin: 35px auto;
  }
  section.next-boy div.block-1,
  section.next-boy div.block-2,
  section.next-boy div.block-3,
  section.next-boy div.block-4 {
    min-height: 150px;
    height: 150px;
  }
  section.next-boy h4 {
    font-size: 16px;

    margin: 0;
    padding: 20% 50px 0 50px;
  }
  section.check-our {
    height: auto;
  }
  section.check-our h2 {
    font-size: 36px;
    text-align: center;
    margin: 10px auto;
  }
  section.next-boy {
    min-height: auto;
  }
  section.check-our img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-top: 15px;
  }
  section.check-our div.name {
    font-size: 20px;
    margin-top: 15px;
  }
  section.footer div.contact {
    font-size: 32px;
    margin: 10px auto;
    text-align: center;
  }
  section.footer p.add {
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
  }
  section.footer p {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
  }
  section.footer ul {
    margin-top: 10px;
    display: flex;
  }
  section.footer ul li {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  section.footer input[type="text"] {
    margin-top: 40px;
    width: auto;
  }
  section.footer input[type="email"] {
    width: auto;
  }

  section.footer textarea {
    width: auto;
  }
  section.footer button {
    margin: 13px auto;
  }
  section.footer {
    height: auto;
  }
  footer {
    height: auto;
  }
  footer p,
  footer ul {
    margin-top: 10px;
  }
  footer p {
    text-align: center;
    font-size: 12px;
  }
  footer ul li a {
    font-size: 10px;
  }
  footer ul li {
    margin: 0 auto;
    display: block;
  }
  footer ul {
    display: flex;
  }
  section.our-services div.buttom a {
    border: 1px solid #fff;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    height: 700px;
  }
  section.our-services h2 {
    margin-top: 40px;
  }
  section.our-services div.services div {
    padding-top: 40px;
  }
  section.our-services div.buttom a {
    margin: 20px auto;
  }
  div.services-2 {
    margin-top: 60px;
  }
  div.services-2 a {
    border: 1px solid #fff;
  }

  div.services-3 {
    margin-top: 60px;
  }
  div.services-3 h3 {
    font-size: 28px;
    margin-left: 15px;
  }
  div.services-3 p {
    margin-left: 15px;
  }
  .boy {
    height: auto;
  }
  section.boy div h3 {
    font-size: 46px;

    max-width: 700px;
    margin: 25px auto;
    text-align: center;
  }
  section.boy div p {
    font-size: 18px;
    color: #878787;
    max-width: 700px;
    margin: 10px 10px;
    text-align: justify;
  }
  section.boy div a {
    margin: 10px auto;
  }
  section.next-boy div.block-1,
  section.next-boy div.block-2,
  section.next-boy div.block-3,
  section.next-boy div.block-4 {
    min-height: 200px;
    height: 250px;
  }
  section.check-our {
    height: auto;
  }
  section.next-boy h4 {
    padding: 70px 20px 70px 20px;
    font-size: 30px;
    text-align: center;
  }
  section.check-our h2 {
    font-size: 48px;
    text-align: center;
  }
  section.check-our img {
    width: 200px;
    height: 200px;
  }

  section.check-our div.name {
    font-size: 26px;

    margin-top: 15px;
  }
  section.check-our div a {
    margin: 15px auto;
  }
  section.footer div.contact {
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
  }
  section.footer p.add {
    font-size: 18px;
    color: #878787;
    margin-top: 15px;
    text-align: center;
  }
  section.footer p {
    color: #878787;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }
  section.footer ul {
    margin-top: 20px;
  }
  section.footer ul li {
    width: 55px;
    height: 55px;
    margin-right: 40px;
  }
  html body section.footer input[type="text"] {
    margin: 10px auto;
    width: 500px;
  }
  html body section.footer input[type="email"] {
    margin: 10px auto;
    width: 500px;
  }
  html body section.footer textarea {
    height: 150px;
    width: 500px;
  }
  footer {
    height: auto;
  }
  footer p,
  footer ul {
    margin-top: 20px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    margin: 0;
  }

  header {
    height: 100vh;
  }

  header div.coll-to h1 {
    margin-top: 100px;
    font-size: 48;
  }
  section.our-services div.buttom a {
    margin: 30px auto;
    border: 1px solid #fff;
  }
  div.services-2 h3 {
    font-size: 30px;
  }
  div.services-2 p {
    font-size: 14px;
  }
  div.services-2 a {
    margin: 0 auto;
  }
  div.services-2 a {
    border: 1px solid white;
  }
  div.services-3 h3 {
    margin-left: 20px;
  }
  div.services-3 p {
    margin-left: 20px;
    font-size: 14px;
  }
  div.services-3,
  div.services-2 {
    margin-top: 100px;
  }
  div.services-3 a {
    margin: 0 auto;
  }
  div.services-3 h3 {
    font-size: 30px;
  }
  div.back-services {
    padding-bottom: 40px;
  }
  section.boy div h3 {
    font-size: 30px;
    color: black;
    max-width: 350px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  section.boy div p {
    font-size: 12px;
    color: #878787;
    max-width: 350px;
    margin-left: 15px;
  }
  section.boy div a {
    margin: 10px auto;
  }
  .boy {
    height: 250px;
  }
  section.check-our h2 {
    font-size: 56px;
    text-align: center;
  }
  section.check-our {
    height: auto;
  }
  section.footer {
    height: auto;
  }
  section.footer div.contact {
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  section.footer button {
    margin: 10px auto;
  }
  section.footer p.add {
    text-align: center;
  }

  section.footer p {
    text-align: center;
    font-size: 16px;
  }

  section.footer ul {
    padding: 10px;
    width: 450px;
    margin: 0 auto;
  }

  section.footer ul li {
    margin-right: 27px;
  }

  section.footer input[type="text"] {
    margin-top: 10px;
  }

  section.footer textarea {
    height: 140px;
  }

  footer ul li {
    margin-right: 10px;
  }

  footer p,
  footer ul {
    text-align: right;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  div.services div p {
    padding-right: 10px;
    text-align: center;
  }

  div.services div h3 {
    padding-right: 10px;
    text-align: center;
  }

  div.services img {
    display: block;
    margin: 0 auto;
    width: 80px;
  }

  div.services-3 h3 {
    margin-left: 60px;
    font-size: 25px;
  }

  div.services-3 p {
    margin-left: 60px;
  }

  div.services-3 a {
    margin-left: 60px;
  }

  div.services-2 h3 {
    margin: 0;
  }

  section.boy div h3 {
    margin: 20px auto;
    font-size: 36px;
    text-align: center;
  }

  section.boy {
    height: auto;
  }

  section.boy div p {
    max-width: 400px;
    margin: 30px auto;
  }

  section.boy div a {
    margin: 0 auto;
  }

  section.next-boy h4 {
    font-size: 32px;
  }

  section.check-our h2 {
    font-size: 48px;
    text-align: center;
  }

  section.check-our img {
    width: 200px;
    height: 200px;
  }

  section.check-our div.name {
    font-size: 28px;
  }

  section.check-our {
    height: auto;
  }

  section.footer div.contact {
    font-size: 36px;
  }

  section.footer div.contact {
    font-size: 32px;
  }

  section.footer p {
    font-size: 24px;
  }

  section.footer ul li {
    margin-right: 10px;
  }

  section.footer input[type="text"],
  section.footer input[type="email"] {
    width: 400px;
  }

  section.footer textarea {
    width: 400px;
  }

  section.footer {
    height: auto;
  }
}

@media (min-width: 1200px) and (max-width: 1409.98px) {
  header div.coll-to h1 {
    margin: 250px auto 35px;
    width: 80%;
  }

  div.services div p {
    padding-right: 10px;
  }

  section.next-boy h4 {
    font-size: 36px;
  }

  section.check-our h2 {
    text-align: center;
  }

  section.boy {
    height: 395px;
  }

  section.footer ul li {
    margin-right: 20px;
  }

  section.boy div h3 {
    font-size: 50px;
  }

  section.footer input[type="text"],
  section.footer input[type="email"] {
    width: 400px;
  }

  section.footer textarea {
    width: 400px;
  }

  footer p {
    text-align: right;
  }
}
